{% extends 'base.html' %}
{% load static %}

{% block title %} Yazar Detayları {% endblock %} 

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="container mt-3">
      <h1>Düzenle</h1>
      <div class="card">
          <div class="card-body">
          
          
              <b>İsim:</b> &nbsp; 
              <input type="text" class="d-inline-flex form-control w-50" id="first_name" name="first_name" value="{{writer.first_name}}" placeholder="İsim">
              <br>
              <br>
              <b>Soyad:</b> &nbsp; 
              <input type="text" class="d-inline-flex form-control w-50" id="last_name" name="last_name" value="{{writer.last_name}}" placeholder="Soyad">
              <br>
              <br>
              <b>Email:</b> &nbsp; 
              <input type="email" class="d-inline-flex form-control w-50" id="email" name="email" value="{{writer.email}}" placeholder="Email">
              <br>
              <br>
              <b>Kullanıcı Aktifliği:</b> &nbsp; 
              {% comment %} <input type="text" class="d-inline-flex form-control w-50" id="is_active" name="is_active" value="{{writer.is_active}}" placeholder="Soyad"> {% endcomment %}
              <input class="form-check-input" type="radio" name="is_active" id="is_active" value="1">
              <label class="form-check-label" for="flexRadioDefault1">
                Aktif
              </label>
  
              <input class="form-check-input" type="radio" name="is_active" id="is_active" value="0">
              <label class="form-check-label" for="flexRadioDefault1">
                Pasif
              </label>
              <br>
              <br>
              <b>Kullanıcı Rolü:</b> &nbsp; 
              <input type="text" class="d-inline-flex form-control w-25" id="roles" name="roles" value="{{writer.roles}}" placeholder="Rol">
              <br>
              (Kullanıcı=1, Yazar=2)
              <br>
              <br>
              <b>Kayıt olma tarihi:</b> &nbsp; {{writer.date_joined}}
              <br>
              <br>
              <b>Son aktif olduğu tarih:</b> &nbsp; {{writer.last_login}}
              <br>
              <br>
            

          </div>
      </div>
  </div>

  <div class="container mt-2 d-flex flex-row-reverse">
    {% comment %} <button type="submit" class=" btn btn-danger " action="" value="{{writer.id}}"name="submit">Sil</button> {% endcomment %}
    <button type="submit" class="btnkayit btn btn-success me-2" name="submit">Kaydet</button>
  </div>

</form>

{% endblock  %}