{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Kaydol {% endblock %} 

{% block content %}
<section>
    <div class="container">
      <div class="col-3"></div>
      <div class="col-6 text-center mx-auto">
        <main class="form-signin w-100">
          <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
              <div class="invalid-feedback fs-6 non-field-errors">
                  {% for err in form.non_field_errors %}
                      <p class="form-error">{{ err }}</p>
                  {% endfor %}
              </div>
            {% endif %}

            <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="300" height="70"> 
            <div class="form-floating1">
              <label for="first_name">İsim</label>
              <input type="text" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" id="first_name" name="first_name" value= "{{form.first_name.value|default_if_none:""}}" placeholder="İsim">
              {% if form.first_name.errors %}
                <div class="invalid-feedback fs-6">
                    {{ "Lütfen isim kısmını boş bırakmayın" }}
                </div>
              {% endif %}
            </div>

            <div class="form-floating5">
              <label for="last_name">Soy İsim</label>
              <input type="text" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" id="last_name" name="last_name" value= "{{form.last_name.value|default_if_none:""}}"  placeholder="Soyisim" >
              {% if form.last_name.errors %}
                <div class="invalid-feedback fs-6">
                    {{ "Lütfen soyisim kısmını boş bırakmayın" }}
                </div>
              {% endif %}
            </div>

            <div class="form-floating2">
              <label for="email">Email adresi</label>
              <input 
                  type="email" 
                  id="email"
                  name="email"
                  class="form-control {% if form.email.errors %}is-invalid{% else %}is-valid{% endif %}"
                  value= "{{form.email.value|default_if_none:""}}" 
                  placeholder="Email" 
                  >
                  {% if form.email.errors %}
                  <div class="invalid-feedback fs-6">
                      {{  form.email.errors}}
                  </div>        

              {% endif %}
            </div>

            <div class="form-floating3">
              <label for="password1">Şifre</label>
              <input 
              id="password1" 
              name="password1"  
              class="form-control {% if form.password1.errors %}is-invalid{% endif %}" 
              type="password" 
              placeholder="*******"
              >
              {% if form.password1.errors %}
                <div class="alert alert-danger mt-2">
                  <strong>{{ form.password1.errors|escape }}</strong>
                </div>
              {% endif %}
            </div>

            <div class="form-floating4">
              <label for="password2">Şifrenizi Doğrulayın</label>
              <input 
              type="password" 
              class="form-control {% if form.password2.errors %}is-invalid{% endif %}" 
              id="password2" 
              name="password2" 
              placeholder="*******"
              >
              {% if form.password2.errors %}
              <div class="alert alert-danger mt-2">
                <strong>{{ form.password2.errors|escape }}</strong>
              </div>
              {% endif %}
            </div>

            <br>
            {% comment %} <div class="checkbox mb-3">
                <input type="checkbox" value="remember-me" id="robot_degilim"> Robot Değilim</label>
            </div> {% endcomment %}
            <button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color: rgb(29, 163, 29);"  onClick="/Account/mainpage.html" value='Register'>Kaydol</button>
            {% comment %} {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
          {% endif %} {% endcomment %}
          </form>
        </main>
      </div>
      <div class="col-3"></div>
  
    </div>
  </section>
  
{% comment %} <div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div> {% endcomment %}
{% comment %} <form method="POST" >
    {% csrf_token %}
    {{form.as_p}}
     <input type="submit" class="btn btn-outline-success">
</form> {% endcomment %}


{% endblock  %}